<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </style>
</head>
<body>
  <header class="w3-display-container w3-container w3-bar w3-black" style="margin-right:0px;padding-right:0px;">
    <div class="w3-bar-item w3-display-left">Picture</div>
    <div class="w3-bar-item w3-display-middle w3-large">ClearMyBeach</div>
    <div class="w3-bar-item w3-right" style="padding:3px;">
      <div class="w3-button w3-border w3-round-large w3-large" style="padding-top:2px;padding-bottom:2px;">Login</div>
    </div>
  </header>
  <div class="w3-container">
    I am this pages content!
  </div>
</body>
</html>
